{
"Control-agent": {
    "http-host": "{{kea_ctrl_agent_address}}",
    "http-port": {{kea_ctrl_agent_port}},
    "authentication": {
     "type": "basic",
     "realm": "kea-control-agent",
     "clients": [
      {
        "user": "{{kea_ctrl_agent_user}}",
        "password": "{{kea_ctrl_agent_password}}"
      }
     ]
    },
    "control-sockets": {
        "dhcp4": {
            "socket-type": "unix",
            "socket-name": "/var/run/kea/kea-dhcp4-ctrl-socket"
        },
        "dhcp6": {
            "socket-type": "unix",
            "socket-name": "/var/run/kea/kea-dhcp6-ctrl-socket"
        },
        "d2": {
            "socket-type": "unix",
            "socket-name": "/var/run/kea/kea-dhcp-ddns-ctrl-socket"
        }
    },
    "hooks-libraries": [
    ],
    "loggers": [
    {
        "name": "kea-ctrl-agent",
        "output-options": [
            {
                "output": "/var/log/kea/kea-ctrl.log",
                "pattern": "%-5p %m\n",
                "maxver": 10
            }
        ],
        "severity": "INFO",
        "debuglevel": 0
    }
  ]
}
}